<div class="footer main-header">
    <div class="row footer-links">
        <ul class="col-sm-4 list-unstyled">
            <li><a href="#">About us</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">terms and conditions</a></li>
        </ul>
        <ul class="col-sm-4 list-unstyled">
            <li><a href="#">Subscribe to newsletter</a></li>
            <li><a href="#">Personal panel</a></li>
            <li><a href="#">F.A.Q.</a></li>
        </ul>
        <ul class="col-sm-4 list-unstyled">
            <li><a href="#">something else</a></li>
            <li><a href="#">Dunno</a></li>
            <li><a href="#">What</a></li>
        </ul>
    </div>
    <p class="text-center text-muted">© Copyright. All rights reserved.</p>
</div>