.page-body {
    /* background-color: rgb(255, 235, 205); */
    height: 800px;
    overflow: hidden;
}

/* ---Begin Header--- */
.main-header  {
    background-color: #141111;
    width: 100%;
    border-radius: 2px;
    margin-bottom: 5px;
  }

.menu-link {
    color: #b74a4a;
    padding-right: 45px;
    font-size: 14px;
}

/* ---End Header--- */

/* ---Begin Work Banner--- */
.large-img-box {
    height: 0px;
}

body .large-img {
    opacity: 0.3;
    position: relative;
    overflow: hidden;
    z-index: -1;
}

/* ---End Work Banner--- */

.footer-links {
    padding: 10px 0 5px 25px;
}

.data-list {
list-style-type: none;
}

.data-li {
    border: 2px solid wheat;
    margin-top: 2px;
}

.block {
    padding: 0 25px 25px 25px;
}

.warning {
    border: 2px solid #a50e0e;
}

.on-demand {
    visibility: hidden;
}

#explain-form-error {
    color: #a50e0e;
}

.todo-name {
    max-width: 100%;
}