.main-header {
    background-color: #d7d7d7;
    width: 100%;
    border-radius: 2px;
  }

.footer-links {
    padding: 10px 0 5px 25px;
}

.page-body {
    background-color: blanchedalmond;
}

.data-list {
list-style-type: none;
}

.data-li {
    border: 2px solid wheat;
    margin-top: 2px;
}

.block {
    padding: 0 25px 25px 25px;
}

.warning {
    border: 2px solid #a50e0e;
}

.on-demand {
    visibility: hidden;
}

#explain-form-error {
    color: #a50e0e;
}

.todo-name {
    width: 100%;
}