.page-body {
    visibility: visible;
}

.todo-wrapper {
   position: relative;
}

.etc-wrapper {
    background-color: blanchedalmond;
}

.todo-wrapper::after {
    content : "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("/static/img/bckgrnd-work.png");
    background-color:orange;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    opacity : 0.2;
    z-index: -1;
}

.block {
    padding: 0 25px 25px 25px;
}

#game-output {
    height: 40px;
}

#price-box {
    height: 100px;
}

/* --=Begin Header=-- */
.main-header  {
    background-color: #141111;
    width: 100%;
    border-radius: 0;
    line-height: 2;
  }

#logo-container {
    display: inline-block;
    max-height: 65px;
}

#main-logo-img {
    max-height: 80px;
    padding-bottom: 20px;
}

.menu-link {
    color: #b74a4a;
    font-size: 14px;
    padding: 0 65px 10px 0;
}

#header {
    margin-bottom: 5px;
}
/* --=End Header=-- */

/* --=Begin Work Banner=-- */
.jumbotron {
    background: none;
}

.large-img-box {
    height: 0px;
}

body .large-img {
    opacity: 0.2;
    position: relative;
    overflow: hidden;
    z-index: -1;
}
/* --=End Work Banner=-- */

/* --=Begin Unordered To-Do list=-- */
.data-ul {
    list-style-type: none;
    display: block;
    padding: 0;
}

.data-li {
    border: 2px solid #181717;
    margin: 0 auto 2px;
    max-width: 50%;
    background-color: white;
}

.data-li .todo {
    padding-top: 6px;
}

.warning {
    border: 2px solid #a50e0e;
    color: #a50e0e;
}

.on-demand {
    visibility: hidden;
}
/* --=End Unordered To-Do list=-- */

/* --=Begin middle banner=-- */

.mid-btn-section {
    background-color: #141111;
    color: white;
    font-size: 16px;
    height: 60px;
}

#mid-section-button {
    border-radius: 3px;
    background-color: maroon;
    margin-top: 7px;
    border: 2px solid #470909;
}

/* --=End middle banner=-- */

/* --=Begin Footer=-- */
.footer-links {
    padding: 10px 0 5px 25px;
}