<!DOCTYPE html>

<html lang="en">

    <head>
        <% include ../partials/head %>
    </head>
    <body>
        <header>
            <% include ../partials/header %>
        </header>

        <main>
            <div class="block" id="money-form-column">
                <form action="/money" method="POST" id="save-expense">
                    <input type=text  placeholder="Expense Name" name="expense-name" required></input>
                    <input type="number" placeholder="Amount" name="amount" required></input>
                    <input type="text" placeholder="comment" name="comment"></input>
                    <input list="category" placeholder="pick category" name="category">
                        <datalist id="category">
                            <option value="Food">
                            <option value="Leisure or hobby">
                            <option value="Unavoidable tax">
                            <option value="Cleaning or toiletries">
                        </datalist>
                    </input>
                    <input type="date" placeholder="Date" name="date" required></input>
                    <button type="submit" class="btn btn-primary" id="post-expense">Submit!</button>
                </form>
            </div>
        </main>

        <footer>
            <% include ../partials/footer %>
        </footer>
        <script src="/static/finance.js"></script>
    </body>

</html>