<!DOCTYPE html>
<html>
<head>
    <% include ../partials/head %>
</head>
<body class="container">
    <header><% include ../partials/header %></header>

      <main>
        <div class="text-center">
            <canvas id="canvas" style="border:1px solid #000000;">
            </canvas>
        </div>
        <!-- <div id="forGraphics">
            <pre id="game-output" style="font-family: Courier New;"></pre>
            <script src="https://cdn.jsdelivr.net/lodash/4.17.4/lodash.min.js"></script>
            </div> -->
      </main>

      <footer><% include ../partials/footer %></footer>

      <script src="/tetris/utilities.js"></script>
      <script src="/tetris/square.js"></script>
      <script src="/tetris/tetrimino.js"></script>
      <script src="/tetris/board.js"></script>
      <script src="/tetris/graphics.js"></script>
      <script src="/tetris/player.js"></script>
      <script src="/tetris/game.js"></script>
</body>
</html>