<!DOCTYPE html>
<html>
<head>
    <% include ../partials/head %>
</head>
<body class="container">
    <header><% include ../partials/header %></header>

      <main>
        <div class="text-center">
            <div id="forGraphics">
                <h1 id="game-output"></h1>
            </div>
            <canvas id="canvas" style="border:1px solid #000000;">
            </canvas>
        </div>
      </main>

      <footer><% include ../partials/footer %></footer>

      <script src="/static/tetris/utilities.js"></script>
      <script src="/static/tetris/square.js"></script>
      <script src="/static/tetris/tetrimino.js"></script>
      <script src="/static/tetris/board.js"></script>
      <script src="/static/tetris/graphics.js"></script>
      <script src="/static/tetris/player.js"></script>
      <script src="/static/tetris/game.js"></script>
</body>
</html>