<div>
    <p>You can check the value of bitcoin here!</p>
    <div id="price-box"><h1></h1></div>
    <button class="btn btn-info" id="btn-btc-price">Check BTC price</button>
    <form>
        <input type="radio" name="currency" value="usd" checked>USD</input>
        <input type="radio" name="currency" value="eur">EUR</input>
    </form>
</div>