<div class="footer main-header">
    <div class="row footer-links">
        <ul class="col-sm-4 list-unstyled">
            <li><a class="menu-link btn btn-lg" href="#">About us</a></li>
            <li><a class="menu-link btn btn-lg" href="#">Privacy Policy</a></li>
            <li><a class="menu-link btn btn-lg" href="#">terms and conditions</a></li>
        </ul>
        <ul class="col-sm-4 list-unstyled">
            <li><a class="menu-link btn btn-lg" href="#">Subscribe to newsletter</a></li>
            <li><a class="menu-link btn btn-lg" href="#">Personal panel</a></li>
            <li><a class="menu-link btn btn-lg" href="#">F.A.Q.</a></li>
        </ul>
        <ul class="col-sm-4 list-unstyled">
            <li><a class="menu-link btn btn-lg" href="#">something else</a></li>
            <li><a class="menu-link btn btn-lg" href="#">Dunno</a></li>
            <li><a class="menu-link btn btn-lg" href="#">What</a></li>
        </ul>
    </div>
    <p class="text-center text-muted">© Copyright. All rights reserved.</p>
</div>