<!-- views/partials/header.ejs -->

<div class="main-header navbar text-center">
    <div class="text-center header-row">
        <a class="menu-link btn btn-lg" href="/">Home</a>
        <a href="#" class="menu-link btn btn-lg">About</a>
        <a href="#" class="menu-link btn btn-lg">Info</a>
        <a href="/tetris" class="menu-link btn btn-lg">Tetris!</a>
    </div>
</div>